extends layout
block content 
  .row.banner    
    each coleccion in colecciones[1]
      .card.transbox#l1 
        h3#l1
          a.nav-link(href='/poeys/?algoritmo=' + coleccion.numero + '&view=#section')= coleccion.algoritmo
          -if (coleccion.nota[0] !=="")
            button#w.btn.btn-primary(type='button', data-bs-toggle='modal', data-bs-target='#myModal') info
            #myModal.modal.fade
              .modal-dialog
                .modal-content
                  .modal-body
                    each parrafo in coleccion.nota
                      p= parrafo                     
                  .modal-footer
                    button.btn.btn-danger(type='button', data-bs-dismiss='modal') cierra
  #section.container-fluid.h4
    a.nav-link.active(href='/', style='padding:20px 10px;') volver al inicio
  
  
         

      
  

     
     